html[lang="en"] *[lang="zh"] {
  display: none;
}

html[lang="zh"] *[lang="en"] {
  display: none;
}

body {
  font-family: 'Cairo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

header {
  text-align: center;
}
